<div class="ui raised segment">
  <h2 class="ui header">
    <div class="inline-image-container">
      <img class="inline-image" ngSrc="assets/images/worthit-32x32.png" alt="money" height="40" width="40">
      Trade-Off Assessment Tool
    </div>
  </h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form" [class.error]="!myForm.valid && myForm.touched">
    <h4>Step 1 - Fill in your Golden Standard (reference) Info</h4>
    <div class="field">
      <label for="referenceNameInput">Golden Essential Name</label><br>
      <input type="text" id="referenceNameInput" placeholder="e.g., Weekly Groceries" formControlName="referenceName">
    </div>

    <div class="field">
      <label for="referenceValueInput">Golden Essential Cost ($)</label><br>
      <input type="number" id="referenceValueInput" placeholder="e.g., $200" formControlName="referenceValue">
    </div>

    <h4>Step 2 - Fill in the New Item Info that you are about to buy</h4>
    <div class="field">
      <label for="newItemNameInput">New Item Name</label><br>
      <input type="text" id="newItemNameInput" placeholder="" formControlName="newItemName">
    </div>

    <div class="field">
      <label for="newItemValueInput">New Item Cost ($)</label><br>
      <input type="number" id="newItemValueInput" placeholder="" formControlName="newItemValue">
    </div>

    <button (click)="resetForm()"
            class="ui button button-reset"
            title="Reset the form">
      <i class="fas fa-sync"></i>
    </button>
    <br>

    <h4>Step 3 - Check your Opportunity Cost !!!</h4>

  </form>


  <div *ngIf="myForm.controls['referenceName'].value !== null &&
              myForm.controls['referenceValue'].value !== null &&
              myForm.controls['newItemName'].value !== null &&
              myForm.controls['newItemValue'].value !== null"
       class="ui message">

    {{ calculateQuantity() }}
  </div>

</div>
